<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>UPDATE PW</h1>
    <a id = "home" href="#">GO HOME</a>
    <form>
        <table>
            <td>
                <td>ID</td>
                <td><span id = "memberId"></span></td>
            </td>
            <td>
                <td>NEW PW</td>
                <td input id = "password" type = "text"></td>
            </td>
            <td>
                <td colspan="2">
                    <button id = "confirm">비밀번호 변경</button>
                </td>
            </td>
        </table>
    </form>
    <select>
        document.get
    </select>

</body>
</html>